body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    background-image: url(./assets/fundo.svg);
    background-attachment: scroll;
    background-size: contain;
    background-position: center;
}

main{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section {
    display: flex;
    gap: 50px;
}

.toupeira { 
  width: 200px;
  height: 200px;
  background-image: url(./assets/toupeira6.svg);
  background-repeat: no-repeat;
  background-position: center;
}

@keyframes toupeiraAnimation {
    0% {
      opacity: 1;
      background-image: url("./assets/toupeira6.svg");
    }
    16.66% {
        opacity: 1;
        background-image: url("./assets/toupeira1.svg");
    }
    33.33% {
        opacity: 1;
        background-image: url("./assets/toupeira2.svg");
    }
    50% {
        opacity: 1;
        background-image: url("./assets/toupeira3.svg");
    }
    66.66% {
        opacity: 1;
        background-image: url("./assets/toupeira4.svg");
    }
    83.33% {
        opacity: 1;
        background-image: url("./assets/toupeira5.svg");
    }
    100% {
        opacity: 1;
        background-image: url("./assets/toupeira6.svg");
    }
}

 .boxOne #toupeira4 { 
    animation: toupeiraAnimation 1s;
    animation-delay: 6s;
  }

  .boxTwo #toupeira2 { 
    animation:  toupeiraAnimation 1s;
    animation-delay: 1s;
  }

  .boxThree #toupeira3 { 
    animation:  toupeiraAnimation 1s;
    animation-delay: 3s;
  }